---
/*
 * Copyright 2026 nuin
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

//  Types
import type { Frontmatter } from '../../types/article.types';

export const articles: Frontmatter[] = [
  { title: 'タイトル', date: '2026-03-20', slug: '/', img: 'https://picsum.photos/id/870/512/512.webp', tag: '' },
  { title: 'タイトル', date: '2026-03-19', slug: '/', img: 'https://picsum.photos/id/870/512/512.webp', tag: '' },
  { title: 'タイトル', date: '2026-03-16', slug: '/', img: 'https://picsum.photos/id/870/512/512.webp', tag: '' },
  { title: 'タイトル', date: '2026-03-13', slug: '/', img: 'https://picsum.photos/id/870/512/512.webp', tag: '' },
  { title: 'タイトル', date: '2026-03-12', slug: '/', img: 'https://picsum.photos/id/870/512/512.webp', tag: '' },
];
---

<section id="hero">
  <a href="#header" data-visible="focus">おすすめ記事をスキップ</a>

  <hgroup>
    <h2 class="expanded" data-lang="en">Featured</h2>
    <p class="expanded">おすすめ記事</p>
  </hgroup>

  <ul>
    {articles.map(({title, slug, img, ..._}) => (
      <li>
        <a href={slug}>
          <img src={img} alt={`${title}のサムネイル`} />
        </a>
      </li>
    ))}
  </ul>
</section>

<style>
  #hero {
    position: relative;

    height: var(--vh-remain);
  }

  [data-visible="focus"] {
    position: absolute;

    margin: 0.5em;
  }

  hgroup {
    position: absolute;
    top: 50%;
    translate: 0 -50%;

    z-index: -1;
  }

  ul {
    display: flex;

    padding: 8rem 6rem;
    padding-left: 16rem;
    gap: 6rem;

    height: 100%;

    line-height: 0;

    overflow: auto;
  }

  img {
    height: 100%;
  }
</style>
