---
/*
 * Copyright 2026 nuin
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

//  Types
import type { CarouselItemData } from '../../types/article.types';

//  Components
import Carousel from '../_components/Carousel.astro';

interface Props {
  carouselItems: CarouselItemData[];
}

const { carouselItems } = Astro.props;
---

<section id="hero">
  <a href="#header" data-visible="focus">おすすめ記事をスキップ</a>

  <hgroup>
    <h2 class="expanded" data-lang="en">Featured</h2>
    <p class="expanded">おすすめ記事</p>
  </hgroup>

  <Carousel articles={carouselItems} />
</section>

<style>
  #hero {
    position: relative;

    @media screen and (width < 700px) {
      height: calc(var(--vh-remain) / 3 * 2);
    }

    @media screen and (width >= 1100px) {
      height: var(--vh-remain);
    }
  }

  [data-visible="focus"] {
    position: absolute;

    margin: 0.5em;
  }

  hgroup {
    position: absolute;
    top: 50%;
    translate: 0 -50%;

    z-index: -1;

    @media screen and (width < 1100px) {
      margin-left: 0.25rem;
    }
  }
</style>
